html {
  box-sizing: border-box;
}
*/ *,
*::before,
*::after {
  box-sizing: inherit;
}

/* Цвета текста */
:root {
  --blue: #2196f3;
  --black-one: #000000;
  --black-two: #212121;
  --gray-one: #757575;
  --gray-two: rgba(255, 255, 255, 0.6);
  --white: #ffffff;
  --herro-background: #2f303a;
  --portfolio-button-background: #f5f4fa;
  --section-background: #f5f4fa;
  --transitions: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--black-two);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.picture {
  display: block;
  max-width: 100%;
  height: auto;
}

/* logo */
.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--black-one);
  text-decoration: none;

  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__blue {
  color: var(--blue);
}

.logo__white {
  color: var(--white);
}

/* site-nav */
.main-nav {
  align-items: center;
  display: flex;
}

.site-nav {
  display: flex;
}

.site-nav__list:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;

  display: block;
  font-weight: 500;

  color: var(--black-two);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transitions);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--blue);
}

.site-nav__link--current {
  color: var(--blue);
}

.site-nav__link--current::after {
  position: absolute;

  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: var(--blue);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

/* auht-nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__list:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__list {
  text-align: center;
}

.auth-nav__link {
  font-weight: 500;
  color: var(--gray-one);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color var(--transitions);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--blue);
}

.auth-nav__icon-envelope {
  display: inline-flex;
  vertical-align: middle;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--gray-one);
  text-align: center;

  transition: fill var(--transitions);
}

.auth-nav__icon-smartphone {
  display: inline-flex;
  vertical-align: middle;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--gray-one);
  transition: fill var(--transitions);
}

.auth-nav__link:hover .auth-nav__icon-smartphone,
.auth-nav__link:focus .auth-nav__icon-smartphone,
.auth-nav__link:hover .auth-nav__icon-envelope,
.auth-nav__link:focus .auth-nav__icon-envelope {
  fill: var(--blue);
}

/* herro */

.herro {
  text-align: center;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-color: #c4c4c4;
  background-size: cover;
}

.herro__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  font-weight: 900;
  color: var(--white);
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}

/* button */
.button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;

  font-weight: 700;
  background-color: var(--blue);
  color: var(--white);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  outline: none;
}

/* section */
.section {
  padding-top: 0;
  padding-bottom: 94px;
}

.section-top {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Особенности */
.featyre {
  display: flex;
}

.featyre__list::before {
  content: '';
  display: block;

  height: 120px;
  background-color: var(--section-background);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.featyre__list:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.featyre__list:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.featyre__list:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.featyre__list:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

/* .icon-antenna::before {
   background-image: url(../images/antenna.svg);
   }   */

/* 
.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
} */

.featyre__list:not(:last-child) {
  margin-right: 30px;
}

.featyre__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.featyre__text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  color: var(--gray-one);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */
.activity {
  display: flex;
}

.activity__card {
  position: relative;
}

.activity__card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.activity__text {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  bottom: 27px;
  right: 82px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.activity__list:not(:last-child) {
  margin-right: 30px;
}

/* Члены команды */

.section-top__content {
  background-color: var(--section-background);
}

.team-card {
  display: flex;
}

.team-card__list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  text-align: center;
}

.team-card__list:not(:last-child) {
  margin-right: 30px;
}

.team-card__list--content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card__name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-card__position {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  color: var(--gray-one);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* социальные иконки */

.social-icon {
  display: flex;
  justify-content: center;
}

.social-icon__list:not(:last-child) {
  margin-right: 10px;
}

.social-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--white);

  transition: background-color var(--transitions);
}

.social-icon__link:hover,
.social-icon__link:focus {
  background-color: var(--blue);
}

.social-icon__img {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--transitions);
}

.social-icon__link:hover .social-icon__img,
.social-icon__link:focus .social-icon__img {
  fill: var(--white);
}

/* Постоянные клиенты */
.clients-logo {
  display: flex;
}

.clients-logo__list:not(:last-child) {
  margin-right: 30px;
}

.clients-logo__link {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--transitions);
}

.clients-logo__link:hover,
.clients-logo__link:focus {
  border: 1px solid var(--blue);
}

.clients-logo__img {
  transition: fill var(--transitions);
}

.clients-logo__link:hover .clients-logo__img,
.clients-logo__link:focus .clients-logo__img {
  fill: var(--blue);
}

/* address */
.contacts-container {
  background-color: var(--herro-background);
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;

  height: 252px;
}

.footer-flex {
  display: flex;
}

.footer-address {
  margin-right: 70px;
}

.footer {
  display: block;
  margin-right: 0;
  margin-top: 60px;
  margin-bottom: 20px;
}

.adress {
  display: inline-flex;
  flex-direction: column;

  font-style: normal;
}

.adress__text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 9px;
}

.adress__connection {
  font-weight: 400;
  color: var(--gray-two);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}

/* footer-slogan */
.footer-slogan {
  margin-right: 93px;
}

.footer-slogan__text {
  margin-top: 72px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-icon__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon__link:hover,
.social-icon__link:focus {
  background-color: var(--blue);
}

.social-icon__img--wite {
  fill: var(--white);
}

/* footer form */

.footer-form__input {
  width: 358px;
  height: 50px;

  padding-left: 16px;
  margin-right: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  background-color: var(--herro-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__button {
  position: relative;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 0;
  text-align: inherit;
}

.footer-form__icon {
  position: absolute;
  fill: var(--white);
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.button-group {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button-group__btn {
  font-weight: 500;
  background-color: var(--portfolio-button-background);
  color: var(--black-two);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: color var(--transitions), background-color var(--transitions);
}

.button-group__btn:hover,
.button-group__btn:focus {
  background-color: var(--blue);
  color: var(--white);
  outline: none;
}

.button-group__list:not(:last-child) {
  margin-right: 8px;
}

.button-group__list:hover,
.button-group__list:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* card-set */
.our-work {
  display: flex;
  flex-wrap: wrap;
}

.our-work__list {
  width: calc((100% - 60px) / 3);
  background-color: var(--white);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.our-work__list:hover,
.our-work__list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-work__list:nth-child(3n) {
  margin-right: 0;
}

.our-work__list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.our-work__title {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #000000;
}

.our-work__text {
  padding-left: 24px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--gray-one);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  /* opacity: 0; */

  transform: translateY(100%);
  transition: transform var(--transitions);
}

.our-work__list:hover .overlay::before,
.our-work__list:focus .overlay::before {
  opacity: 1;
  transform: translateY(0);
}

.overlay__text {
  position: absolute;
  top: 63px;
  right: 24px;
  bottom: 63px;
  left: 24px;

  opacity: 0;

  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white);

  transform: translateY(100%);
  transition: transform var(--transitions);
}

.our-work__list:hover .overlay__text,
.our-work__list:focus .overlay__text {
  opacity: 1;
  transform: translateY(0);
}

/* backdrop */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;

  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white);
}

.modal-icon {
  position: absolute;
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: var(--black-one);
  transition: fill var(--transitions);
}

.modal-btn:hover,
.modal-btn:focus {
  outline: none;
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: var(--blue);
}

/* Form */
.form {
  width: 448px;
  /* left: 576px;
  top: 296px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 41px;
  margin-right: 39px;
}

.form-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 40px;

  color: var(--black-two);
}

.form-label {
  position: relative;
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.07;
  letter-spacing: 0.01em;
  margin-bottom: 10px;

  color: var(--gray-one);
}

.form-label:focus {
  outline: 1px solid var(--blue);
}

.form-input {
  /* position: relative;
  display: block; */
  width: 100%;
  height: 40px;

  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transitions);
}

.form-input:focus {
  border: 1px solid var(--blue);
  outline: none;
}

/* .form-name {
  position: relative;
} */

.form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 11px;
  left: 12px;
  fill: var(--black-one);
  transition: fill var(--transitions);
}

.form-input:focus + .form-icon {
  fill: var(--blue);
}

.form-label.textarea {
  margin-bottom: 0;
}

.form-textarea {
  display: block;

  width: 100%;
  height: 120px;
  margin-top: 4px;

  padding: 12px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transitions);
}

.form-textarea:focus {
  border: 1px solid var(--blue);
  outline: none;
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* .form-checkbox {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  padding: 0;
  margin-left: 12px;
} */

.form-link {
  color: var(--blue);
}

.btn-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-checkbox {
  display: inline-block;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;

  padding: 0;
  margin-left: 12px;
  margin-top: 20px;
  margin-bottom: 30px;

  color: var(--gray-one);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-one);
  border-radius: 2px;
  margin-right: 7px;
  vertical-align: middle;
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--blue);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--blue);
}
